@font-face {
    font-family: Azonix;
    src: url(./assets/fonts/Azonix.otf)
}

@font-face {
    font-family: Stem-Bold;
    src: url(./assets/fonts/Stem-Bold/Stem-Bold.otf);
}

@font-face {
    font-family: Stem-Regular;
    src: url(./assets/fonts/Stem-Bold/Stem-Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
    overflow-x:hidden;
}

body{
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 0;
}

.heading {
    font-family: Stem-Bold;
    font-size: 3em;
    letter-spacing: .01vw;
    width: 80vw;
}

#wrapper {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: black;
}

#home {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: black;
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: fixed;
    z-index: 10;
    overflow-x: hidden;
}

#ham {
    display: none;
}

#left-nav, #right-nav, #about-us-nav {
    /* width: 35vw; */
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Azonix;
    color: white;
    letter-spacing: 5px;
    z-index: 1;
}

#left-nav{
    margin-left:-5.5vw;
}

#about-us-nav {
    display: none;
}

#right-nav {
    margin-right: -6vw;
}

.nav-button {
    margin: 0 8vw 0 8vw;
    background-color: transparent;
    cursor: pointer;
}

.nav-button:hover {
    color: #ff00ff;
}

.register {
    border: 2px solid #ff00ff;
    border-radius: 15px;
    padding: 10px;
    padding-right: 5px;
}

#home-images {
    height: calc(100vh - 100px);
    width: 100vw;
    /* background-color: darkslategray; */
    display: block;
    z-index: 2;
}

#character-images {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 100vw;
    transform: translateX(-20px);
}

#left-img, #right-img, #center-img {
    display: block;
}

#left-img, #right-img {
    height: 50vh;
    width: auto;
    object-fit: contain;
    z-index: 2;
}

#left-img {
    transform: translateX(14vw);
}

#center-img {
    z-index: 3;
    height: 87vh;
    object-fit: contain;
    transform-origin: bottom center;
}

#right-img {
    transform: translateX(-8vw);
}

#logo {
    position: absolute;
    bottom: 70px;
    width: 100vw;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo img {
    width: 80.33vh;
}

.controller {
    width: 25vw;
    height: 120%;
    margin-left: 5vw;
    margin-top: -3vh;
}

#about-cont {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8vh 0 12vh 0;
}

#about {
    width: 80vw;
    min-height: 50vh;
    background-color: black;
    color: white;
    flex-direction: column;
    align-items: center;
}

.punchline {
    font-family: Stem-Bold;
    font-size: 2.1em;
}

.info {
    margin-top: 3vh;
    font-family: Stem-Regular;
    font-size: 2.3em;
    line-height: 4.5vh;
    display: flex;
}

.image-about {
    width: 55vw;
}

#games-page {
    width: 100vw;
    height: 85vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#game-cont {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80vw;
    margin-top: 4vh;
}

.games {
    height: 50vh;
    width: 18vw;
    background-color: transparent;
    margin: 0 2vw 0 0;
    cursor: pointer;
}

.game-img-rules {
    display: flex;
    flex-direction: column;
    width: 18vw;
    height: 50vh;
    margin-top: -10vh;
}

.game-name {
    height: 10vh;
    font-family: Stem-Regular;
    width: 18vw;
    z-index: -1;
    display: flex;
    color: transparent;
    flex-direction: column;
}

.name {
    width: 18vw;
    font-size: 2.5vh;
    font-weight: bold;
}

.team {
    width: 18vw;
    font-size: 2vh;
    margin-top: 0.2vh;
}

.game-img {
    height: 40vh;
    width: 18vw;
    z-index: 1;
    transition: all 0.2s ease;
    background-color: rgb(8, 32, 32);
}

.rules-cont {
    display: none;
    height: auto;
    padding: 0.5vh;
    width: 18vw;
    z-index: 2;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5vh;
    font-weight: bold;
    font-family: Stem-Regular;
}

.rules {
    height: 7vh;
    width: 10vw;
    border: white 3px solid;
    opacity: 0.75;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
}

#contact-info, #contact-heading {
    color:white;
    margin-left: 10vw;
    font-family: Azonix;
    margin-top: 2vh;
}

#contact-heading {
    font-size: 40px;
    font-family: Stem-Bold;
}

.form-cont {
    width: 100vw;
    /* display: none; */
    /* position: absolute; */
    background-color: black;
    top: 15vh;
}

#form-heading {
    color: white;
    font-family: Azonix;
    text-align: center;
    font-size: 40px;
    letter-spacing: 8px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
}

ul {
    list-style-type: none;
}

.flex-outer {
    display: flex;
    flex-direction: column;
}

.flex-outer>ul {
    margin-top: 10vh;
}

.flex-inner {
    display: flex;
}

.input-1 {
    margin-right: 20vw;
}

.input-2 {
    margin-left: 20vw;
}
.input-3 {
    margin-left: 30vw;
    margin-top: 5vh;
}

.myInput {
    padding: 8px;
    width: 20vw;
    border: 1.75px solid #00B9FF;
    background-color: black;
    box-sizing: border-box;
    color: white;
    font-family: Azonix;
}

.myInput::placeholder {
    padding: 8px;
    font-family: Azonix;
    color: #bbbbbb;
    letter-spacing: 2px;
}
#submit-button {
    height: 5vh;
    width: 10vh;
    margin-top: 3vh;
}

@media all and (max-width: 500px) {
    body {
        overflow-x: hidden;
    }
    #about-cont {
        display: none;
        position: absolute;
        top: 3vh;
    }
    #about {
        width: 90vw;
    }
    .image-about {
        display: none;
    }
    nav {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        /* height: 50vh; */
        height: auto;
        width: 50vw;
        right: 0;
    }
    #left-nav, #right-nav, #about-us-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    #left-nav {
        margin-top: 6.5vh;
    }
    .nav-button {
        margin: 0;
        padding: 0;
        margin-top: 1.5vh;
        margin-bottom: 1.5vh
    }
    #about-us-nav {
        margin-top: 1.5vh;
        margin-bottom: 1.5vh;
    }
    .register {
        border: 2px solid #ff00ff;
        border-radius: 15px;
        padding: 10px;
        padding-right: 5px;
        margin-top: calc(1.5vh - 5px);
        margin-bottom: 4vh;
    }
    #ham {
        display: block;
        position: fixed;
        right: 0;
        top: 0;
        margin-top: 2vh;
        margin-right: 5vw;
        z-index: 10;
    }
    #about-us-nav {
        display: block;
    }
    #logo img {
        width: 95vw;
        transform: translateY(55vh);
    }
    #left-img, #right-img {
        display: none;
    }
    #center-img {
        width: 100vw;
        text-align: center;
        margin-left:10.5vw;
        transform: translateY(-15vh);
    }
    #logo {
        position: absolute;
        top: -60vh;
    }
    .flex-inner {
        flex-direction: column;
        align-items: center;
    }
    .input-1 {
        margin-left: 0;
    }
    .input-2 {
        margin-right: 40vw;
        margin-top: 2vh;
    }
    .input-3 {
        margin-left: 20vw;
    }
    .form-cont {
        overflow-x: hidden;
    }
    .form {
        margin-left: 20vw;
    }
    #submit-button {
        margin-left: -20vw;
    }
    .flex-outer>ul {
        margin-top: 6vh;
    }
    .myInput {
        width: 50vw;
    }
}